<aside class="options">
    <div class="container-lg">
        <div class="options__wrapper">
            <h2>Aside</h2>
            <p>This is an aside section that can be included in other templates.</p>
        </div>
    </div>
</aside>