<footer class="main-footer text-center">
    <p>Aquest lloc web no genera cookies. <a href="https://www.websitecarbon.com/website/jordimoreno-cat/" target="_blank">Website Carbon</a> li atorga la qualificació A+ (impacte ambiental mínim). La foto de perfil me la va fer en <a href="https://www.instagram.com/pol_llach/" target="_blank">Pol Llach</a> i les icones són de <a href="https://tabler.io/icons" target="_blank">Tabler</a>. Per construir-lo m'he servit de <a href="https://www.11ty.dev/" target="_blank">11ty</a>. Trobaràs el codi font a <a href="https://github.com/jomorespi/jordimorenocat_26/" target="_blank">GitHub</a>.</p>
</footer>