<footer class="main-footer">
    <p class="text-center">Aquest lloc web no genera cookies. Per construir-lo m'he servit d'<a href="https://www.11ty.dev/" target="_blank">Eleventy</a>. La foto de perfil me la va fer en <a href="https://www.instagram.com/pol_llach/" target="_blank">Pol Llach</a>. Les icones són de <a href="https://tabler.io/icons" target="_blank">Tabler</a>. Pots xafardejar el codi font al <a href="https://github.com/jomorespi/jordimorenocat_26/" target="_blank">repositori de GitHub</a>.</p>
    <div id="wcb" class="carbonbadge" lang="en"></div>
</footer>