<header class="header">
    <nav class="container header__nav">
        <a href="{{ site.url }}">
            {{ site.title }}
        </a>

        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
</header>