<li>
    <a href="{{ link.url }}" target="_blank" aria-label="{{ link.title }}">
    <h3 class="m-0 font-medium">{{ link.title }}</h3>
    <div class="text-secondary">
        {% if link.subt %}
        <p class="m-0 marker-list__subt">&lpar;{{ link.subt }}&rpar;</p>
        {% endif %}
        {% if link.desc %}
        {{ link.desc | markdown | safe }}
        {% endif %}
    </div>
    </a>
</li>