<ul class="options" aria-label="Opcions de visualització">
    <li><button id="theme-toggle" aria-label="Mode nit/dia">{% include 'icons/moon.svg' %}</button></li>
    <li><button aria-label="Tipus de lletra">{% include 'icons/typo.svg' %}</button></li>
    <li><button aria-label="Mida de lletra">{% include 'icons/text-size.svg' %}</button></li>
    <li><button aria-label="Alineació del text">{% include 'icons/text-left.svg' %}</button></li>
</ul>