<div class="options">
    <ul aria-label="Opcions de visualització">
        <li>
            <button id="theme-toggle" aria-label="Mode nit/dia">
                <span class="dark">{% include 'icons/sun.svg' %}</span>
                <span class="light">{% include 'icons/moon.svg' %}</span>
            </button>
        </li>
        <li>
            <button id="font-switch" aria-label="Tipus de lletra">
                {% include 'icons/typo.svg' %}
            </button>
            <fieldset class="options__submenu options__submenu--font" aria-hidden="true" inert>
                <legend class="sr-only">Tipus de lletra</legend>
                <ul>
                    <li>
                        <input type="radio" name="font-type" id="font-type--sans" value="sans" checked="checked">
                        <label for="font-type--sans" class="font-sans">
                            Pal sec
                            <small>Atkinson Hyperlegible Next</small>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="font-type" value="serif" id="font-type--serif">
                        <label for="font-type--serif" class="font-serif">
                            Romana
                            <small>Sentient</small>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="font-type" value="mono" id="font-type--mono">
                        <label for="font-type--mono" class="font-mono">
                            Monoespaiada
                            <small>JetBrains Mono</small>
                        </label>
                    </li>
                </ul>
            </fieldset>
    
        </li>
        <li>
            <button aria-label="Mida de lletra">{% include 'icons/text-size.svg' %}</button>
            <fieldset class="options__submenu options__submenu--size" aria-hidden="true" inert>
                <legend class="sr-only">Mida de la lletra</legend>
                <input type="range" name="font-size" id="font-size" value="16" min="12" max="24">
                <output name="font-size-output" for="font-size"></output>
            </fieldset>
        </li>
        <li>
            <button aria-label="Alineació del text">{% include 'icons/text-left.svg' %}</button>
            <fieldset class="options__submenu options__submenu--align" aria-hidden="true" inert>
                <legend class="sr-only">Alineació del text</legend>
                <ul>
                    <li></li>
                </ul>
            </fieldset>
        </li>
        <li>
            <button class="option--disabled" aria-label="Restaurar valors per defecte" aria-hidden="true" tabindex="-1">{% include 'icons/restore.svg' %}</button>
        </li>
    </ul>
</div>