<li>
    <a href="{{ post.url }}" aria-label="{{ post.data.title }}">
        <h2 class="text-lg font-medium m-0">{{ post.data.title }}</h2>
        <p class="marker-list__subt text-sm">{{ post.date | formatDate }}</p>
    </a>
</li>