<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordi Moreno Crespi. Desenvolupador web | Escriptor.</title>
    <meta name="description" content="Web personal i professional de Jordi Moreno Crespi, escriptor i desenvolupador web Front-end i CMS. Enllaços de perfils i projectes. Blog personal.">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
</head>
<body class="page-{{ page.fileSlug if page.fileSlug else 'index' }}">

    <a href="#main-content" class="sr-only">Saltar al contingut principal</a>
    {% include 'header.njk' %}

    <main id="main-content" class="container main-content">
    
        {{ content | safe }}
    
    </main>

    {% include 'footer.njk' %}

    <script type="module" src="/assets/js/app.js"></script>

</body>
</html>