<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordi Moreno Crespi. Desenvolupador web | Escriptor.</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="page-{{ page.fileSlug if page.fileSlug else 'index' }}">

    {% include 'header.njk' %}

    <main class="container">
    
        {{ content | safe }}
    
    </main>

    <footer>
        
    </footer>

    

    <script src="/assets/js/app.js"></script>

</body>
</html>