---
layout: layout.njk
---

<article class="post">
    <header class="post-header mb-8">
        <div>
            <h1 class="post-title mb-2">{{ title }}</h1>
            <p class="post-date text-sm text-muted m-0">{{ date | formatDate }}</p>
        </div>
        <a href="/blog/" class="post-blog-link text-muted"><span class="text-dark">&larr;</span> Blog</a>
    </header>

    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
