---
layout: layout.njk
---

<article class="post">
    <header class="post-header mb-8">
        <h1 class="post-title mb-2">{{ title }}</h1>
        <p class="post-date text-sm">{{ date | formatDate }}</p>
    </header>

    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
