@layer components {

    .marker {

        &::before {
            content: "";
            display: inline-block;
            width: .8rem;
            height: .75rem;
            background-color: var(--color-primary);
            margin-right: .5rem;
            border-radius: .125rem .125rem .125rem .375rem;
        }

    }

    .profile-img {
        width: 75px;
        height: 75px;
        border-radius: .5rem .5rem .5rem 2rem;
    }

    .marker-list {

        margin-bottom: 3rem;

        &.links-list {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }

        li {
            padding-left: 1.25rem;
            position: relative;
            transition: var(--transition-duration) color var(--transition-function);

            &::before {
                content: "";
                display: inline-block;
                width: .8rem;
                height: .75rem;
                background-color: var(--color-primary);
                margin-right: .5rem;
                border-radius: .125rem .125rem .125rem .375rem;
                position: absolute;
                left: 0;
                top: .4em;
                transition: var(--transition-duration) background-color var(--transition-function);
            }
            
            &::after {
                content: "";
                display: block;
                background-color: transparent;
                position: absolute;
                inset: -.5rem;
                border-radius: .5rem;
                z-index: -1;
                transition: var(--transition-duration) background-color var(--transition-function);
            }

            :is(h2, h3, .marker-list__subt, .marker-list__desc) {
                transition-property: color font-weight;
                transition-duration: var(--transition-duration);
                transition-timing-function: var(--transition-function);
            }
            
            &:is(:hover, :focus-within) {
                
                &::before {
                    background-color: var(--color-borders);
                }
                
                :is(h2, h3) {
                    font-weight: 700;
                }
                
                .marker-list__subt {
                    color: var(--color-dark)
                }
                
                .marker-list__desc {
                    color: var(--color-muted)
                }
    
            }

        }

    }

    body.page-index {
        .main-content {
            min-height: calc(60svh - 3rem);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            gap: 1rem 1.5rem;
        }
    }
    
    .page-heading {
        h1 {
            display: inline-block;
        }
    }

    .post-header {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .section-heading {
        font-weight: 700;
        border-bottom: 1px dashed var(--color-muted);
    }

    .post-blog-link {

        span {
            transition: var(--transition-duration) color var(--transition-function);
        }

        &:is(:hover, :focus-visible) {
            span {
                color: var(--color-primary);
            }
        }
    }

}