@layer components {

    .marker {

        &::before {
            content: "";
            display: inline-block;
            width: .8rem;
            height: .75rem;
            background-color: var(--color-primary);
            margin-right: .5rem;
            border-radius: .125rem .125rem .125rem .375rem;
        }

    }

    .marker-list {
        li {
            padding-left: 1.25rem;
            position: relative;

            &::before {
                content: "";
                display: inline-block;
                width: .8rem;
                height: .75rem;
                background-color: var(--color-borders);
                margin-right: .5rem;
                border-radius: .125rem .125rem .125rem .375rem;
                position: absolute;
                left: 0;
                top: .35em;
            }
        }
    }

}