@layer components {

    .marker {

        &::before {
            content: "";
            display: inline-block;
            width: .8em;
            height: .75em;
            background-color: var(--color-primary);
            margin-right: .5em;
            border-radius: .125em .125em .125em .375em;
        }

    }

    .profile-img {
        width: 4.6875em;
        height: 4.6875em;
        border-radius: .5em .5em .5em 2em;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .main-content {
        margin-bottom: 5rem;
    }

    body.page-index {
        .main-content {
            min-height: calc(60svh - 3rem);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            gap: 1em 1.5em;

            &.text-center {
                justify-content: center;
            }

            &.text-right {
                justify-content: flex-end;
            }
        }
    }
    
    .page-heading {
        h1 {
            display: inline-block;
        }
    }

    .post-header {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .section-heading {
        font-weight: 700;
        border-bottom: 1px dashed var(--color-muted);
    }

    .post-blog-link {

        &:is(:hover, :focus-visible) {
            b {
                color: var(--color-primary);
            }
        }
    }

    .main-footer {
        margin-top: auto;
        border-top: 1px solid var(--color-borders);
        padding: .75rem 1.5rem 6rem;

        p {
            font-size: .875rem;
            margin: 0;
            text-wrap: balance;
        }
    }

    @media (min-width: 768px) {
        .main-footer {
            padding-bottom: .75rem;
        }
    }

}