@layer defaults {
        
    body {
        font-family: var(--font-sans);
        color: var(--color-dark);
        background-color: var(--color-light);
    }

    h1 {
        font-size: var(--text-2xl);
    }

    h2 {
        font-size: var(--text-xl);
    }

    h3 {
        font-size: var(--text-lg);
    }

}