@layer defaults {

    :root {
        font-family: var(--font-sans);
        font-size: var(--text-base);
        font-weight: 400;
    }
        
    body {
        color: var(--color-dark);
        background-color: var(--color-light);
        text-align: var(--text-align);
    }

    *, *::before, *::after {
        transition-property: color background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-function);
    }

    :where(h1, .h1) {
        font-size: var(--text-2xl);
        line-height: 1.25;
    }

    :where(h2, .h2) {
        font-size: var(--text-xl);
    }

    :where(h3, .h3) {
        font-size: var(--text-lg);
    }

    :where(h1, h2, h3) {
        font-weight: 700;
    }

    :where(h1, h2, h3, h4, h5) {
        margin-bottom: .5rem;
    }

    :where(p, ul, ol, li, blockquote) {
        margin-bottom: 1rem;
    }

    b, strong {
        font-weight: 700;
    }

    i, em {
        font-style: italic;
    }

    *:focus-visible {
        outline: 2px dashed var(--color-muted);
        outline-offset: .5rem;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    input[type="radio"] {
        min-width: .6rem;
        width: .6rem;
        height: .6rem;
        position: static;
        display: inline-block;
        border-radius: 1rem;
        outline: 1px solid var(--color-borders);
        outline-offset: 2px;
        transition-property: border-color background-color;
        margin: 0 .6rem 0 3px;

        + label {
            display: inline-block;
        }

        &:checked {
            background-color: var(--color-primary);
            outline-color: var(--color-dark);

        }
        
        &:focus-visible + label {
            outline: 2px dashed var(--color-muted);
            outline-offset: .25rem;
        }
    }

}