.container {
    width: calc(100% - 2.5rem);
    max-width: 50rem;
    margin-inline: auto;
}

.header {
    margin: 0 auto 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-bg);
    box-shadow: 0 .2rem .2rem -.25rem var(--color-gray);
}

.header__nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 1rem 0;
    max-width: fit-content;
}

.header__nav ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__nav ul li a::before {
    content: "";
    display: block;
    width: .75rem;
    height: .75rem;
    border-radius: .75rem;
    background-color: var(--color-gray);
}

.header__nav ul li.is-active a::before {
    background-color: var(--color-primary);
}

.header__nav ul li.is-active a {
    font-weight: 500;
}