@layer utilities {
    .m-0 {
        margin: 0;
    }

    .mb-1 {
        margin-bottom: .25rem;
    }

    .mb-2 {
        margin-bottom: .5rem;
    }

    .mb-3 {
        margin-bottom: .75rem;
    }

    .mb-4 {
        margin-bottom: 1rem;
    }

    .mb-8 {
        margin-bottom: 2rem;
    }

    .mb-12 {
        margin-bottom: 3rem;
    }

    .text-primary {
        color: var(--color-primary);
    }

    .text-dark {
        color: var(--color-dark);
    }

    .text-muted {
        color: var(--color-muted);
    }

    .text-2xl {
        font-size: var(--text-2xl);
    }

    .text-xl {
        font-size: var(--text-xl);
    }

    .text-lg {
        font-size: var(--text-lg);
    }

    .text-sm {
        font-size: var(--text-sm);
    }

    .font-bold {
        font-weight: 700;
    }

    .font-medium {
        font-weight: 500;
    }

    .font-sans {
        font-family: var(--font-sans);
    }

    .font-serif {
        font-family: var(--font-serif);
    }

    .font-mono {
        font-family: var(--font-mono);
    }
}