@layer variables {
  
  html {

    /* Colors */
    --color-primary: hsl(167, 89%, 46%);
    --color-dark: hsl(280, 8%, 20%);
    --color-light: hsl(200, 20%, 97%);
    --color-borders: hsl(200, 12%, 88%);
    --color-muted: hsl(200, 15%, 35%);
    --color-white: hsl(0, 0%, 100%);
    
    /* Fonts */
    --font-sans: "Atkinson Hyperlegible Next", sans-serif;
    --font-serif: Sentient, serif;
    --font-mono: "JetBrains Mono", monospace;

    /* Alignment */
    --text-align: left;

  }

  .main-content {
    /* Sizes */
    --text-2xl: calc( var(--text-base) * 2);
    --text-xl: calc( var(--text-base) * 1.25);
    --text-lg: calc( var(--text-base) * 1.15);
    --text-base: 1rem;
    --text-sm: calc( var(--text-base) * .875);
  }

  [data-theme="dark"] {
    --color-dark: hsl(280, 8%, 90%);
    --color-light: hsl(200, 20%, 15%);
    --color-borders: hsl(200, 12%, 25%);
    --color-muted: hsl(200, 15%, 70%);
    --color-white: hsl(0, 0%, 5%);
  }

}