@layer variables {
  
  :root {

    /* Colors */
    --color-primary: hsl(167, 89%, 46%);
    --color-dark: hsl(280, 8%, 20%);
    --color-light: hsl(200, 20%, 97%);
    --color-borders: hsl(200, 12%, 88%);
    --color-muted: hsl(200, 15%, 35%);
    --color-white: hsl(0, 0%, 100%);
    
    /* Fonts */
    --font-sans: "Atkinson Hyperlegible Next", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    --font-serif: Sentient, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-mono: "JetBrains Mono", Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;

    /* Sizes */
    --text-2xl: 2rem;
    --text-xl: 1.25rem;
    --text-lg: 1.15rem;
    --text-base: 1rem;
    --text-sm: .875rem;

    /* Alignment */
    --text-align: left;

    /* Transitions */
    --transition-duration: .3s;
    --transition-function: ease-in-out;

  }

}