---
title: Blog
layout: page.njk
eleventyNavigation:
    key: Blog
    order: 3
---

<ul class="marker-list">
    {%- for post in collections.blog | reverse -%}
        {% include 'post-item.njk' %}
    {%- endfor -%}
</ul>