---
layout: layout.njk
title: Blog
eleventyNavigation:
    key: Blog
    order: 2
---

<ul>
    {%- for post in collections.blog | reverse -%}
        {% include 'post-item.njk' %}
    {%- endfor -%}
</ul>