---
permalink: assets/css/style.css
---

{% set css %}
{% include "./assets/css/setup.css" %}
{% include "./assets/css/fonts.css" %}
{% include "./assets/css/reset.css" %}
{% include "./assets/css/variables.css" %}
{% include "./assets/css/defaults.css" %}
{% include "./assets/css/layout.css" %}
{% include "./assets/css/utilities.css" %}
{% include "./assets/css/components.css" %}
{% endset %}
{{ css | postcss | cssmin | safe }}