---
title: Jordi Moreno Crespi
layout: layout.njk
eleventyNavigation:
    key: jordimoreno.cat
    order: 1
---

<img 
    src="/assets/img/perfil.webp" 
    class="profile-img"
    alt="Foto de perfil de Jordi Moreno Crespi" 
    width="200" 
    height="200"
    loading="eager"
    fetchpriority="high">

<div>
    <h1 class="mb-1">{{ title }}</h1>
    <p class="marker text-xl m-0">Faig webs, escric, etcètera.</p>
</div>