---
layout: layout.njk
title: Enllaços
---

{% for section, data in links %}
  <h2>{{ data.title }}</h2>
  <ul>
    {%- for link in data.items -%}
      <li>
        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a> {% if link.subt %}&lpar;{{ link.subt }}&rpar;{% endif %}
        {% if link.desc %}
          <p>{{ link.desc | markdown | safe }}</p>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
{% endfor %}