---
layout: layout.njk
title: Enllaços
---

<h2>Projectes</h2>
<ul>
    {%- for link in collections.projects -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>

<h2>Publicacions</h2>
<ul>
    {%- for link in collections.books -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>

<h2>Perfils</h2>
<ul>
    {%- for link in collections.social -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>

<h2>Contacte</h2>
<ul>
    {%- for link in collections.contact -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>