---
layout: layout.njk
title: Enllaços
---

<h2>Projectes</h2>
<ul>
    {%- for link in collections.projects | sort(attribute="data.order") -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>

<h2>Publicacions</h2>
<ul>
    {%- for link in collections.books | sort(attribute="data.order") -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>

<h2>Perfils</h2>
<ul>
    {%- for link in collections.social | sort(attribute="data.order") -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>

<h2>Contacte</h2>
<ul>
    {%- for link in collections.contact | sort(attribute="data.order") -%}
        <li>
            {% include 'link-item.njk' %}
        </li>
    {%- endfor -%}
</ul>